<div class="container page-width">
  <nav class="d-flex justify-content-between align-items-center navbar-height">

    <div class="d-flex justify-content-center align-items-center">
      <div><%= image_tag "logo-lewagon.svg" %></div>
      <div class="m-1 p-2">Campuses</div>
      <div class="m-1 p-2">Courses</div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <div class="m-1 p-2">Jobs Report</div>
      <div class="m-1 p-2">Events</div>
      <div class="m-1 p-2">Alumni</div>
     <div><%= link_to "Apply Now", show_path(ToDoItem.first), class: "white-call-to-action-button"  %></div>
    </div>
  </nav>

</div>
