<div class="d-flex justify-content-center align-items-center background-color-indigo advert-height">
  <div class="text-white">
    <h3 >This is my advertising message. <b><%= link_to "Learn >", nil, class: "text-white text-decoration-none"%></b></h3>
  </div>

</div>
