.red-call-to-action-button {
  background-color: $red;
  color: white;
  box-shadow: 3px 3px black;


  padding: 24px;
  text-decoration: none;

}


.red-call-to-action-button:hover {
  background-color: $light-gray;
  color: $red;
  box-shadow: 3px 3px $indigo;


  padding: 24px;
  text-decoration-line: none;

}


.red-call-to-action-button-sm {
  background-color: $red;
  color: white;
  box-shadow: 3px 3px black;


  padding: 24px;
  text-decoration: none;

}





.white-call-to-action-button {
  background-color: white;
  color: $red;
  box-shadow: 3px 3px black;


  padding: 24px;
  text-decoration: none;

}


.white-call-to-action-button-sm {
  background-color: $light-gray;
  color: $red;
  border-color: $gray;
  border-radius: 1em;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  width: 6em;

  &:hover {
    background-color: $gray;
    color: $red;
    box-shadow: 1px 1px $indigo;
  }
}


.white-call-to-action-button:hover {
  background-color: $light-gray;
  color: $red;
  box-shadow: 3px 3px $indigo;


  padding: 24px;
  text-decoration-line: none;

}
