.cards {
  display: flex;
  flex-wrap: wrap;

}

.card {
  width: 25em;
  padding: 1em 2em;
  margin: 1em 2em;
  border-color: $gray;
  box-shadow: 5em;
  border-radius: 2em;

}

.card-buttons {
  display: flex;
  flex-wrap: wrap;
}
