.background-color-indigo {
  background-color: $indigo;
}

.text-white {
 color: #fff;
}

.background-color-black {
  background-color: black;
}

.text-orange {
  color: orange;
}


.advert-height {
  height: 40px;
}

.navbar-height {
  height: 100px;
}


.flex-wrapper {
  display: flex;
}

h3 {
  margin-bottom: 0px;
}

